body {
    background-color : #E5E3C9;
    }

    nav {
        background-color: #94B49F;
        margin-bottom: 30px
    }
    nav a {color: #2C3333;}
    nav a:hover {background-color: #F5F5F5;}

    p {
        color : #789395;
    }

    a {color: #B4CFB0} 
    h1 {color: #062C30}
    h2 {color:#062C30}














